.DS_Store
*.egg-info/
*.py[cod]
__pycache__/
.coverage
.pytest_cache/
.ruff_cache/
.venv/
dist/
build/
wandb/
base_data/
base_data_climbmix/
base_checkpoints/
tokenizer/
*.log
*.pt
*.pth
*.safetensors
